/*Main CSS Properties*/

#wrapper{
	width:100%;
	margin: auto;
}

h2{ 
	margin-bottom: 0;
	margin-top: 5px;

}


.header{
	background-color:#386d2f;
	position:relative;
	height:100px;
	width:100%;
}
.header h1{
	float:left;
	padding-left: 25px;
	font-weight: 500;
	font-family: Rubik;
	padding-bottom: 20px;
	color: white;
	width:35%;
	padding-top: 10px;
}
.header h1 a{
	text-decoration: none;
	color:white;
}

nav a{
	text-decoration:none;
	color:white;
}

nav{
float:left;
padding-top: 25px;
padding-left:10%;
width:50%;
}


li{

	list-style: none;
	display:inline;
	margin:5px;
	font-size: 20px;
	font-weight:700;
	font-family: Rubik;
}
.hamburger{
	display:none;
	position:absolute;
	top:20px;
	right:4%;	
} 
.hamburger .line{
	margin: 10px;
	background-color:white;
	border-radius: 25%;
	width:50px;
	height:5px;
}

.intro{
	position:relative;
	right:10%;
	width:65%;
	float:left;
	margin:auto;
	padding-left: 15%;
}

.intro .imageWrapper{
	padding-left: 7%;
}


.intro blockquote{
	background-image: url(Images/coffee_table.svg);
	background-size: cover;
	height:300px;
	width:100%;
	text-align: center;
	color:white;
	font-family: Rubik;
	font-style: italic;
	font-weight: 300;
	font-size:24px;
	padding-top: 150px;
	padding-left: 15px;
	padding-right: 15px;


}

.intro h2{
	padding-left: 7%;
	padding-top:none;
	font-family: Rubik;
	font-size: 30px;
	font-weight:500;
	color:gray;

}
#wrapper hr{
	padding-left: 7%;
}

.intro p{
	font-weight: 300;
	font-size:18px;
	width:100%;
	padding-left: 7%;
	color: black;
}

.social{
	float:left;
	width: 15%;
	padding-right: 2%;
	color:black;
	padding-top: 2%;
		
}

.social span{
	text-decoration: underline;
}
.gti{
	clear: both;
	width:60%;
	text-align:center;
}
.about_gti p{
	width: 60%;
	margin:auto;
}
.about_gti h2{
	padding-top:none;
	font-family: Rubik; 
	font-size: 30px;
	font-weight:500;
	color:gray;
	text-align: center;
	
}
.greantree{
	padding-left: 5%;
	width:100%;
	margin:auto;
}
.greantree .row{
	float:left;
	height:400px;
	width:55%;
	
}
.row img{
	width:100%;
	padding:5%;
}
.roaster img{
	float:left;
	height:350px;
	padding:5%;
	padding-bottom: 10px;
}
.greantree h2{
	padding-top: 3%;
}
.order{
	margin-left:30%;
	margin-bottom: 20px;
	border-radius: 25px;
	height:70px;
	width:60%;
	background-color: white;
	border:1px solid lightgrey;
	font-family: Rubik;
	font-size: 28px;

}
.order a{
	text-decoration: none;
	color:grey;
	text-align: center;
}

footer{
	clear:both;
	height:175px;
	background-color:#386d2f;
}
.address{
	width:50%;
	margin:auto;
	text-align:center;
	color:white;
	font-size: 20px;
	font-weight:300;
	padding-top:10px;
}
.icons{
	width:100%;
	margin:auto;
	text-align: center;

}
h4{
	color:lightgrey;
	width:100%;
	text-align: center;
	font-weight: 200;
	font-size: 14px;
	font-family: Rubik;
}

@media screen and (max-width:760px){
	.header h1{
		font-weight: 300;
		width:50%;
	}
	.intro h2{
		clear:both;
		width:98%;
		padding-left: 50px;
		padding-top: 20px;
		text-align: center
	}
	.intro p{
		width: 98%;
		margin:auto;
		padding-left: 10%;
	}
	.imageWrapper hr{
		width:100%;
		padding-left: 10%;
	}
	.intro{
		width:90%;
		padding-left: 6%;
		text-align: center;
	}
	.greantree .row{
		width:100%;
		padding-bottom: 20px;
	}

	h2{
		padding-top: 20px;
	}

	.hamburger{
		display:block;
	}
	.roaster img{
		display:none;
	}

	.social{
		width: 98%;
		text-align: center;
	}
	.roast{
		float: left;
		width: 98%;
		margin: 2%;
	}
	.roast h2{
		padding-left: 7%;
		padding-top:;
		font-family: Rubik;
		font-size: 36px;
		font-weight:500;
		color:gray;
	}

	.instagram{
		float: left;
		width:98%;
		margin:2%;
	}
	.instagram h2{
		padding-left: 7%;
		padding-top:none;
		font-family: Rubik;
		font-size: 36px;
		font-weight:500;
		color:gray;
	}

	
	.show a{
		width:100%;
		margin:auto;
		display: block;
		color: #386d2f;
		text-align: center;

	}
	.order{

		margin-left:12%;
		margin-bottom: 20px;
		margin-top: 20px;
		border-radius: 25px;
		height:70px;
		width:95%;
		background-color: white;
		border:1px solid lightgrey;
		font-family: Rubik;
		font-size: 26px;
		text-align: center;
	}
	.field form{
	width:95%;
		}
}
/*Form Submit CSS Properties*/
.field {
	width:50%;
		
}
.field fieldset{
	border:none;
}
.field fieldset li{
	border:none;
	display:block;
}
.field fieldset li input{
	font-weight: 300;
	color:grey;

}